/* .orange {
  color: orange;
}

#idorange {
  color: blue;
}

span.orange {
  background-color: skyblue;
} 

div .orange {
  color: orange;
} */

/* .orange + li {
  color: red;
} */

.orange ~ li {
  color: red;
}
